.bank-info-form {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #2b8a3e;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.bank-info-form h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 1.5rem;
  color: #2b8a3e;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #fff;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #2b8a3e;
  border-radius: 5px;
  background-color: #000;
  color: #1abc9c;
}

.form-group input:focus {
  border-color: #1abc9c;
  box-shadow: 0 0 5px rgba(43, 138, 62, 0.5);
  outline: none;
}

.btn-primary-bank-info {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #2b8a3e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary-bank-info:hover {
  background-color: #418e51;
}

.btn-primary-bank-info:active {
  background-color: #1a8830;
  color: #fff;
}
