html,
body {
  height: 100%;
  margin: 0;
}

.admin-operations-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  height: 100vh;
}

.admin-operations-section h2 {
  color: #007bff;
}

.admin-operations-section {
  width: 48%; /* Each section takes up almost half the space */
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-operations-section-add-stock {
  width: 48%; /* Each section takes up almost half the space */
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-operations-section-add-stock h2 {
  color: #2b8a3e;
}

.admin-operation-btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.admin-operation-btn-add-stock {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #2b8a3e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.admin-operation-btn:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}
