/* General container for AboutApp */

.wrapper-about {
  background-color: black;
}

.about-app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  padding: 2rem;
  background-color: #000;
  color: #fff;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  text-align: center;
}

.about-icons {
  width: "76px";
  height: "76px";
  margin-top: "0 auto";
  margin-bottom: 1rem;
  display: "block";
}

h2 {
  font-size: 36px;
  font-weight: 600;
  color: #2b8a3e;
  margin-bottom: 2rem;
}

.what-is-stockphony {
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5;
}

.about-app-container h5 {
  font-size: 22px;
  margin-bottom: 1rem;
  color: #2b8a3e;
}

.about-app-container img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.about-app-container p {
  font-size: 16px;
  line-height: 1.6;
  margin: 1rem 0;
}

/* Button Styling */
.navigate-signUp {
  width: 200px;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: 1px solid #2b8a3e;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease;
}

.navigate-signUp:hover {
  background-color: #2b8a3e;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .about-app-container {
    width: 100%;
    padding: 1rem;
  }

  h2 {
    font-size: 28px;
  }

  .what-is-stockphony {
    font-size: 16px;
  }

  .navigate-signUp {
    width: 100%;
  }
}
