/* Apply this to your main container that holds the content */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #000; /* Set the entire page background to black */
}

.content {
  flex-grow: 1;
}
