/* General Navbar styling */
.navbar {
  background-color: #000; /* Dark background */
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0;
  padding-bottom: 0.2rem;
  align-items: center;
  border-bottom: 0.5px solid #939393; /* Add subtle border */
  position: relative;
}

.navbar .ml-auto {
  display: flex;
  align-items: center; /* Vertically aligns content in the center */
}

/* Brand/logo styling */
.brand img {
  width: 80px;
  height: auto;
}

/* Navbar Text styling */
.navbar-text {
  color: #fff; /* White text for the username */
  font-size: 16px;
  padding-left: 2rem;
}

/* Button Styling */
.sign-out-btn,
.about-btn,
.sign-up-btn {
  font-size: 16px;
  padding: 0.5rem 1rem;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  border-color: #2b8a3e;
}

.sign-out-btn:hover,
.about-btn:hover,
.sign-up-btn:hover {
  background-color: #2b8a3e; /* Change button background on hover */
  color: white;
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-text .mr-2 {
    padding-top: 2.5 rem;
    font-size: 16px;
  }

  .sign-out-btn,
  .about-btn,
  .sign-up-btn {
    font-size: 14px;
  }
}
