.admin-sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #186028;
  box-sizing: border-box;
  padding: 2rem;
}

/* Circle Animation */

.circle {
  position: absolute;
  border-radius: 50%;
  background-color: #182802;
}

.circle1 {
  width: 300px;
  height: 300px;
  top: 10%;
  left: 5%;
}

.circle2 {
  width: 200px;
  height: 200px;
  bottom: 20%;
  right: 10%;
}

.admin-sign-up-form {
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(20, 16, 16, 0.5);
  text-align: center;
  width: 500px;
  height: auto;
  outline-style: groove;
}

.admin-sign-up-form .form-label {
  color: #fff;
}

.admin-sign-up-form .form-label {
  color: #fff;
}

.admin-image {
  width: 48px;
  height: 48px;
}

input {
  border: none;
  border-bottom: 2px solid #0abde3;
  background-color: transparent;
  color: #ffffff;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;
}

input::placeholder {
  color: #9ba7c0;
}

button {
  background-color: #0abde3;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #00a1d3;
}

.have-account {
  color: #ffffff;
  margin-top: 20px;
}

.navigate--admin-sign-in {
  color: #0abde3;
  text-decoration: none;
  border-radius: 12px;
}

.navigate--admin-sign-in:hover {
  background-color: #0abde3;
  text-decoration: none;
  color: #fff;
  border-radius: 12px;
}

input:focus {
  outline: none;
  border-bottom-color: #00a1d3;
}

.check-icon {
  position: absolute;
  right: 10px;
  top: 12px;
}

.input-wrapper {
  position: relative;
}

.text-danger {
  color: #ff7675;
  font-size: 12px;
}
